@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@layer base {
  body {
    @apply text-f-light dark:text-f-dark bg-b-light dark:bg-b-dark;
    font-family: 'Noto Sans Korean', system-ui, sans-serif;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-b-dark/40 dark:bg-b-light/40;
    border-radius: 10px;
  }
  code {
    @apply rounded-md break-words bg-c-yellow/40;
  }
  blockquote {
    border-inline-start-color: red;
  }
  h2 {
    @apply text-2xl font-medium;
    font-family: 'Nanum Myeongjo', system-ui, sans-serif;
  }
}

@tailwind components;
@layer components {
  .highlight {
    @apply border-b-4 border-yellow-300/50 bg-yellow-200/50 duration-300;
  }
}

@tailwind utilities;
@tailwind variants;
